<!-- The viewport is divided into two parts having max-width 70% and 30% -->
<div fxLayout="row">

  <!--
    Content in 70%: (TODO: Allow customization by organization)
      Cover Image
      Organization/Application Name
      Organization/Application Description

    This content will be hidden for smaller screens.
  -->

  <div fxLayout="column" fxFlex.gt-sm="1 0 30%" class="login-container">

    <!-- Language Selector to the extreme right -->
    <div fxLayout="row-reverse" fxFlex="1 0 auto">
      <mifosx-language-selector class="p-r-10 p-t-10"></mifosx-language-selector>
      <mifosx-theme-toggle class="p-r-10 p-t-10"></mifosx-theme-toggle>
      <div fxFlex></div>
      <mifosx-server-selector class="p-l-10 p-t-10" *ngIf="!environment.production && environment.allowServerSwitch"></mifosx-server-selector>
    </div>

    <!-- Logo with Organization Name -->
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto">
      <img src="assets/images/mifos_lg-logo.png" alt="{{ 'APP_NAME' | translate}} Logo" class="img-container">
    </div>

    <!-- Tenant Identifier Name -->
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto" *ngIf="displayTenantSelector()">
      <mifosx-tenant-selector></mifosx-tenant-selector>
    </div>

    <!--
      Type of Form:
        Login
        Reset Password
        Two Factor Authentication
        Forgot Password (TODO: Decision to be taken on providing this feature.)
    -->
    <div fxLayout="row" fxFlex="20 0 auto" fxLayoutAlign="center start">
      <mifosx-login-form *ngIf="!resetPassword && !twoFactorAuthenticationRequired"></mifosx-login-form>
      <mifosx-reset-password *ngIf="resetPassword"></mifosx-reset-password>
      <mifosx-two-factor-authentication *ngIf="twoFactorAuthenticationRequired"></mifosx-two-factor-authentication>
    </div>



    <div fxLayout="row" fxLayoutAlign="end" class="m-b-20 m-r-10">
      <a (click)="reloadSettings()"><fa-icon icon="refresh"></fa-icon></a>
    </div>
  </div>

</div>

